<!DOCTYPE html>
<html>
<head>
  <title>App4mlg</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

<br/><%= link_to "home", root_path %>
</body>
</html>
