<h1>Listing accounts</h1>

<h2>Search</h2>

<%= form_tag(search_accounts_path, :method => "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Address</th>
    <th>Phone number</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%= account.first_name %></td>
    <td><%= account.last_name %></td>
    <td><%= account.address %></td>
    <td><%= account.phone_number %></td>
    <td><%= account.email %></td>
    <td><%= link_to 'Show', account %></td>
    <td><%= link_to 'Edit', edit_account_path(account) %></td>
    <td><%= link_to 'Destroy', account, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Account', new_account_path %>
